@import '../../variables.scss';

header {
    position: relative;
    color: $white;

    .bgImage_container {
        width: 1960px;
        height: 722px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        @media (max-width: 1280px) {
            width: 100%;
            height: initial;
            max-height: 722px;
        }

        .background_image {
            width: 1640px;
            height: 722px;
            margin: 0 auto;

            @media (max-width: 1280px) {
                max-width: initial;
                height: initial;
                max-height: 722px;
                margin-left: -400px;
                margin-top: -80px;
            }
        }
    }

    .header_wrapper {
        padding-top: 80px;
        padding-bottom: 55px;
        position: relative;
        margin-bottom: 0px;

        @media (max-width: 960px) {
            padding-top: 30px;
            margin-bottom: 150px;
        }

        @media (max-width: 768px) {
            max-width: 620px;
            width: 100%;
            // margin-bottom: 180px;
        }

        @media (max-width: 620px) {
            max-width: 540px;
            // margin-bottom: 100px;
        }

                @media (max-width: 540px) {
                    margin-bottom: 150px;
                    padding-left: 28px;
                    padding-right: 28px;
                }
        // @media (max-width: 390px) {
        //     margin-bottom: 100px;
        // }
                @media (max-width: 350px) {
                    margin-bottom: 100px;
                }
    }
}

.content {
    margin-bottom: 92px;

    @media (max-width: 960px) {
        margin-bottom: 75px;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 540px) {
        margin-bottom: 40px;
        margin-top: 20px;
    }
}

.topic {
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: $grey;

    @media (max-width: 960px) {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        text-align: center;
    }

    @media (max-width: 540px) {
        margin-bottom: 16px;
    }
}

.headline {
    max-width: 780px;
    font-weight: 600;
    font-size: 96px;
    line-height: 110px;
    margin-bottom: 32px;
    color: $basicWhite;
    text-shadow: 0px 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;

    @media (max-width: 960px) {
        font-size: 74px;
        line-height: 85px;
    }

    @media (max-width: 768px) {
        text-align: center;
    }

    @media (max-width: 620px) {
        font-size: 64px;
        line-height: 75px;
    }

    @media (max-width: 540px) {
        max-width: 380px;
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 20px;
        font-weight: 500;
    }
}

.span_blue {
    background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
}

.text {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: $darkWhite;
    max-width: 640px;

    @media (max-width: 960px) {
        font-size: 22px;
        line-height: 26px;
    }

    @media (max-width: 768px) {
        text-align: center;
    }

    @media (max-width: 540px) {
        max-width: 280px;
        font-size: 18px;
        line-height: 140%;
    }
}

.block_schema {
    position: absolute;
    top: 128px;
    right: -223px;
    z-index: -1;
    background-position: right;

    @media (max-width: 1224px) {
        width: 700px;
            top: 20%;
            left: 700px;
        }

    @media (max-width: 1024px) {
        width: 700px;
        top: 40%;
        left: 520px;
        // vertical-align: middle;
    }

    @media (max-width: 960px) {
        top: 70%;
    }

    @media (max-width: 768px) {
        top: 80%;
        left: 350px;
    }
    @media (max-width: 540px) {
        width: 120%;
        top: 90%;
        left: 200px;
    }
    @media (max-width: 480px) {
        min-width: 110%;
        top: 90%;
        left: 150px;
    }
    @media (max-width: 400px) {
        min-width: 130%;
        top: 90%;
    }
     @media (max-width: 360px) {
            width: 150%;
            top: 85%;
            left: 20%;
        }
}

.button {
    padding: 17px 30px;
    color: $basicWhite;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    background: linear-gradient(140.6deg, #3E6FF9 -27.18%, #3E53F8 126.06%);
    box-shadow: $boxShadow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 80px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .4s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: none;
    }

    .circle {
        width: 34px;
        height: 34px;
        background: $basicWhite;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 34px;
    }

    @media (max-width: 960px) {
        padding: 14px 30px;
    }

    @media (max-width: 540px) {
        font-size: 15px;
    }
}


.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse {
    width: 17px;
    height: 29px;
    border: 2px solid $darkWhite;
    border-radius: 60px;

    @media (max-width: 960px) {
         display: none;
    }
}

.mouse:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 5px;
    top: 5px;
    left: 55%;
    transform: translateX(-50%);
    background: $darkWhite;
    opacity: 1;
    animation: mouse 2s infinite;
}

@keyframes mouse {
    from {
        opacity: 1;
        top: 5px;
    }

    to {
        opacity: 0;
        top: 20px;
    }
}