* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Mazzard', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  background: #000;

  @media (max-width: 960px) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  // width: 100%;
  max-width: 1440px;
  padding-left: 70px;
  padding-right: 70px;
  margin: auto;
  // margin-bottom: 160px;

  @media (max-width: 1240px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 758px) {
    margin-bottom: 50px;
  }

  @media (max-width: 758px) {
   margin-bottom: 0px;
  }
}

@font-face {
  font-family: 'Mazzard';
  font-weight: 400;
  src: local('Mazzard'), url(fonts/Mazzard/MazzardH-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Mazzard';
  font-weight: 500;
  src: local('Mazzard'), url(fonts/Mazzard/MazzardH-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Mazzard';
  font-weight: 600;
  src: local('Mazzard'), url(fonts/Mazzard/MazzardH-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Mazzard';
  font-weight: 700;
  src: local('Mazzard'), url(fonts/Mazzard/MazzardH-Bold.woff) format('woff');
}